* {
  font-family:Arial, Helvetica, sans-serif;
}

.homepage {
  background-color: rgb(0, 0, 0);
  text-align: left;
}

.purpleText {
  color: #7959d2;
  font-size: 60px;
  font-style: oblique;
}

.goRight {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 4 / 2 / 5;
}
.div2 {
  grid-area: 2 / 4 / 3 / 5;
}
.div3 {
  grid-area: 1 / 2 / 2 / 3;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

ul {
  list-style: none;
}

.hpImage {
  width: 30rem;
  margin-left: 10rem;
  margin-top: 13.5rem;
}

.copyRight {
  display: flex;
  justify-content: center;
}

.textBg {
  background-color: #413d4c;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 15px;
}
.cpBg {
    background-color: #413d4c; 
    padding: 10px; 
}

.photoBorder {
  background-image: url("./images/frame.jpeg");
  background-size: 1000px;
}

