* {
  font-family: "Courier New", Courier, monospace;
}

.divHeight {
  height: 100%;
}

header {
  background-color: #413d4cd3;
  display: flex;
  justify-content: center;
}
header h4 {
  text-align: right;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20rem;
  text-decoration: none;
}

header h1 {
  justify-content: left;
}

body {
  background-image: url("../src/images/scann_20160414_0001.jpg");
  background-size: 3840px;
  background-repeat: no-repeat;
  background-color: rgb(2, 2, 2);
  padding-bottom: 10.2rem;
}

.purpleText {
  color: #7959d2;
  font-size: 75px;
  font-style: oblique;
}

ul {
  list-style: circle;
}

.hpImage {
  width: 30rem;
  margin-top: 2rem;
}

.copyRight {
  display: flex;
  justify-content: center;
}

.textAlign {
  color: white;
  display: flex;
  align-items: flex-end;
}
.why {
  margin-right: 18rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.headerList {
  margin-left: 8px;
}

.about {
  margin-top: 20px;
  font-weight: bold;
}

.textBg {
  background-color: #413d4cd3;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 75px;
  padding-right: 50px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.textPosition {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.cpBg {
  background-color: #413d4c;
}

.headerMargin {
  margin-right: 0px;
}

.contactMargin {
  margin-right: 0px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: -8px;
  height: 30px;
  width: 100%;
  /* background:#999; */
}

.photoBorder {
  /* background-image: url("../src/images/frame.jpeg");
  background-size: cover; */
}

@media screen and (max-width: 2560px) {
  body {
    background-size: 2560px;
  }
}

@media screen and (max-width: 1920px) {
  body {
    background-size: 1920px;
  }
}
@media screen and (max-width: 1600px) {
  .headerMargin {
    margin-right: 20px;
  }
  .contactMargin {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1050px) {
  body {
    background-size: 235rem;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1400px) {
  .textBg {
    margin-top: 3rem;
  }
  .hpImage {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  header {
    width: 1300px;
  }
}
@media screen and (max-width: 900px) {
  .hpImage {
    margin-left: 40px;
  }
}
@media screen and (max-width: 650px) {
  .hpImage {
    margin-left: 70px;
  }
}
