* {
  font-family: "Courier New", Courier, monospace;
}

.divHeight {
  height: 100%;
}

header {
  background-color: #413d4cd3;
  display: flex;
  justify-content: center;
}

header h4 {
  text-align: right;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20rem;
  text-decoration: none;
}

header h1 {
  justify-content: left;
}

body {
  background-image: url("../src/images/scann_20160414_0001.jpg");
  background-size: 3840px;
  background-repeat: no-repeat;
  background-color: rgb(2, 2, 2);
  padding-bottom: 10.2rem;
}

/* changes the name in all areas */
.purpleText {
  color: #7959d2;
  font-size: 85px;
  font-style: oblique;
  text-shadow: 5px 5px black;
}

/* sets size of carousel on homepage */
.carouselSize {
  margin-bottom: 30px;
  margin-right: 5px;
  justify-content: center;
}

ul {
  list-style: circle;
}

/* set copyright position */
.copyRight {
  display: flex;
  justify-content: center;
}

/* adjust text area display and text color */
.textAlign {
  color: white;
  display: flex;
  align-items: flex-end;
}

/* margin for page text to align properly */
.hpMarginLeft {
  margin-left: 40px;
}

/* set font size */
.textSize {
  font-size: 23px;
}

/* I don't know why this does what it does */
.why {
  margin-right: 18rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* aligns some of the li in the header */
.headerList {
  margin-left: 8px;
}

/* makes spacing for about in header */
.about {
  margin-top: 20px;
  font-weight: bold;
}

/* makes spacing for home in header */
.homeIcon {
  margin-bottom: 10px;
  font-weight: bold;
}

/* bring list in text area up some */
#marginTop {
  margin-top: -20px;
}

/* sets the background color and size for the text area */
.textBg {
  background-color: #413d4cd3;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 75px;
  padding-right: 50px;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* sets text property for text area */
.textPosition {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

/* sets copyright background color */
.cpBg {
  background-color: #413d4c;
}

/* made to adjust header list margin with different screen sizes */
.headerMargin {
  margin-right: 0px;
}

/* same as headerMargin but for about About specifically */
.contactMargin {
  margin-right: 0px;
}

/* sets footer position for copyright */
.footer {
  position: fixed;
  left: 0px;
  bottom: -8px;
  height: 30px;
  width: 100%;
}

@media screen and (max-width: 2560px) {
  body {
    background-size: 2560px;
  }
}

@media screen and (max-width: 1920px) {
  body {
    background-size: 2100px;
  }
}
@media screen and (max-width: 1600px) {
  .headerMargin {
    margin-right: 20px;
  }
  .contactMargin {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1050px) {
  body {
    background-size: 235rem;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1400px) {
  .textBg {
    margin-top: 3rem;
  }
  .carouselSize {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  header {
    width: 1300px;
  }
}
@media screen and (max-width: 900px) {
  .carouselSize {
    margin-left: 40px;
  }
}
@media screen and (max-width: 650px) {
  .carouselSize {
    margin-left: 70px;
  }
}
